#game_div {
	width: 100%;
	height: 100%;
	background-color: #efefef;
}
.title {
	color: red;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate3d(0, -50%, 0);
	width: 100%;
	font-size: 0.2rem;
}